<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:insert="fragments/general.html :: header"></header>

<form action="/user/forgotPassword/change" method="post" >
    <input type="hidden" name="email" th:value="${email}"/>
    <input type="hidden" name="token" th:value="${token}"/>
    <input type="text" name="password" placeholder="please input password"/> <br>
    <input type="text" name="repeatPassword" placeholder="please repeat password"/> <br>
    <input type="submit" value="Change">
</form>
</body>
</html>
