<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
Welcome Spring!!!<br>
<a href="/logout" th:if="${username != null}"> Logout </a>
<a href="/loginPage" th:if="${username == null}"> Login </a>
<h3 th:text="Welcome +' ' + ${username}" th:if="${username != null}"></h3>
<h3 th:text="${msg}" th:if="${msg != null}"></h3>
<h3>Add User:</h3>
<form action="/addUser" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Please input name"/><br>
    <input type="text" name="surname" placeholder="Please input surneme"/><br>
    <input type="text" name="username" placeholder="Please input username"/><br>
    <input type="password" name="password" placeholder="Please input password"/><br>
    <select name="role">
        <option value="USER">user</option>
        <option value="ADMIN">admin</option>
    </select>
    <input type="file" name="image"/><br>
    <input type="submit" value="add">
</form>

<h3> Add Book:</h3>
<form action="/saveBook" method="post">
    <input type="text" name="title" placeholder="Please input title"/><br>
    <textarea name="description" placeholder="Please input description"></textarea>
    <select name="user.id">
        <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.name}"></option>
    </select>
    <input type="submit" value="add">
</form>
Users:
<ul>
    <div th:each="user: ${users}" th:remove="tag">
        <img th:src="@{/image(name=${user.profilePic})}" width="20"
             th:if="${user.profilePic != null && user.profilePic.length() != 0}"/>
        <li th:text="${user.name} + ' ' + ${user.surname}"></li>
        <a th:href="@{/deleteUser(id=${user.id})}">delete</a>
    </div>

</ul>
Books:
<ul>
    <div th:each="book: ${books}" th:remove="tag">
        <li th:text="${book.title} + ' ' + ${book.user.name}"></li>
        <a th:href="@{/deleteBook(id=${book.id})}">delete</a> <a th:href="@{/editBook(id=${book.id})}">edit</a>
    </div>

</ul>
<h1>utyu</h1>
<a href="/about">About Us</a>
</body>
</html>
