<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form action="/perform_login" method="post">

    <input type="text" name="username" placeholder="please input username"/></br>
    <input type="password" name="password" placeholder="please input password"/></br>
    <input type="submit" value="Login"/></br>

</form>

Forgot Password?
<form action="/user/forgotPassword" method="get">
    <input type="email" name="email" placeholder="Please input your email"/>
    <input type="submit" value="forgot">
</form>

</body>
</html>